contextlib2==0.6.0.post1
Flask-Admin==1.6.0
Flask-SQLAlchemy==2.5.1
gunicorn==20.1.0
json5==0.9.5
mypy-extensions==0.4.3
pathspec==0.7.0
pypiwin32==223
pyreadline==2.1
pytest==6.2.3
pywin32==227
pywin32-ctypes==0.2.0
pywinpty==0.5.7
PyYAML==5.4.1
pyzmq==20.0.0
sqlparse==0.4.2
statsmodels==0.12.2
tables==3.6.1
tzdata==2021.5
unicodecsv==0.14.1
webencodings==0.5.1
widgetsnbextension==3.5.1
WTForms==3.0.1

